.App {
  text-align: center;
  /* height: 100vh; */
  box-sizing: border-box;
  /* color: white */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.brakPoint {
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media (max-width: 600px) {

  .formInput {
    display: none;
  }

   .rightDiv{
    margin-top: 30px;
   }

   .btn-group > * {
      font-size: 12px !important;
   }

 
  
}
